body{
	box-sizing: border-box;
	/*background-image: url("../images/background.png");*/
	background-image: url(../images/earth.jpg);
}

.clouds{
	background: none;
    background-image: url('../images/bckgnd.png');
    height: 350%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:-1;
    -webkit-animation: clouds 400s linear infinite;
    -moz-animation: clouds 400s linear infinite;
    -ms-animation: clouds 400s linear infinite;
    animation: clouds 400s linear infinite;
}
/* clouds change position over 400 seconds */
@keyframes clouds {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: -700px 0px, 0px 0px;}
  100% {background-position: -1400px 0px, 0px 0px;}
}
@-moz-keyframes clouds {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: -700px 0px, 0px 0px;}
  100% {background-position: -1400px 0px 0px 0px;}
}
@-webkit-keyframes clouds {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: -700px 0px, 0px 0px;}
  100% {background-position: -1400px 0px, 0px 0px;}
}
@-ms-keyframes clouds {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: -700px 0px, 0px 0px;}
  100% {background-position: -1400px 0px, 0px 0px;}
}

input{
	width:75%;
	text-align: center;
}

#timerHeader{
	margin:15px 30px 5px 0px;
	color: #666;
	display: none;
}		

.jumbotron{
	margin-top: 90px;
}

#map, #map2 {
    width: 75%;
    height: 400px;
    background-color: grey;
}

#photoCarousel{
	margin-bottom: 3%;
}
caption, .panel-title{
	text-align: center
}

#resultId
{
	text-align: center;
}
#correctCity
{
	text-align:center;

}
#scores
{
	text-align: center;
}

#name1
{
	text-align: center;
    margin-right: 372px;
}
#win1
{
	text-align: center;
    margin-right: 372px;
}
#loss1
{
	text-align: center;
    margin-right: 372px;
}

#name2
{
	text-align: center;
    margin-left: 372px;
    margin-top: -149px;
}
#win2
{
	text-align: center;
    margin-left: 372px;
}
#loss2
{
	text-align: center;
    margin-left: 372px;
}