/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 150px;
  background-image: url(../images/earth.jpg);
  box-sizing: border-box;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 35%;
  /* Set the fixed height of the footer here */
  /*height: 150px;*/
  text-align:center;
  background-color:rgba(241,241,241,0.8);
  left:63%;

}

.footer .btn-default{
	background-color:rgba(255,255,255,0.7);
}

#chat-display{
	height:90px;
	width:auto;
	border: 2px solid #eee;
	text-align:left;
	border-radius:10px;
	overflow: auto;
}

.player2msg{
	text-align:right;

}

.chatmsg{
    border-bottom: 1px dotted #B3A9A9;
}

.player1msg span{
	margin-right:5px;
	margin-top:2px;
}
.player2msg span{
	margin-left:5px;
	margin-top:2px;
}
/*
.chatmsg:nth-child(-n+3){
    display:block;
}*/

/*body{
	box-sizing: border-box;
	background-image: url("../images/background.png");
	background-image: url(../images/earth.jpg);
}*/

.clouds{
	background: none;
    background-image: url('../images/bckgnd.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: auto;
    z-index:-1;
    -webkit-animation: clouds 400s linear infinite;
    -moz-animation: clouds 400s linear infinite;
    -ms-animation: clouds 400s linear infinite;
    animation: clouds 400s linear infinite;
}
/* clouds change position over 400 seconds */
@keyframes clouds {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: -700px 0px, 0px 0px;}
  100% {background-position: -1400px 0px, 0px 0px;}
}
@-moz-keyframes clouds {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: -700px 0px, 0px 0px;}
  100% {background-position: -1400px 0px 0px 0px;}
}
@-webkit-keyframes clouds {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: -700px 0px, 0px 0px;}
  100% {background-position: -1400px 0px, 0px 0px;}
}
@-ms-keyframes clouds {
  0% {background-position: 0px 0px, 0px 0px;}
  50% {background-position: -700px 0px, 0px 0px;}
  100% {background-position: -1400px 0px, 0px 0px;}
}

input{
	width:75%;
	text-align: center;
}

#timerHeader{
	margin:15px 30px 5px 0px;
	color: #666;
	display: none;
}		

.jumbotron{
	margin-top: 90px;
	font-family: 'Droid Sans', sans-serif;
	background-color:rgba(206,221,255,0.8);
	/*text-shadow: 0 0 2px black;*/
}

ol {
  list-style: none;
}

li:before {
  content: '\2022';
  padding: 8px;
  /*text-shadow: 0 0 2px black;*/
  font-size: 20px;
}

/*Typewritter effect code from https://css-tricks.com/snippets/css/typewriter-effect/*/
.jumbotron h1,.jumbotron h2,.jumbotron h3,.jumbotron li {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 3.5s steps(30, end);
  /*blink-caret .75s step-end infinite;*/
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
/*@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}*/

li{
	font-size:18px;
}

#title{
	color:black;
}

.navbar
{
	background-color: rgba(221,221,221,0.8) !important;;
	border-color: transparent;
	font-family: 'Bree Serif', serif;
}

.panel
{
	background-color:rgba(255,255,255,0.8);
}

.panel-heading
{
	background-color: rgba(221,221,221,0.8) !important;
}

#map, #map2 {
    width: 75%;
    height: 400px;
    background-color: grey;
}

#photoCarousel{
	margin-bottom: 3%;
}
caption, .panel-title{
	text-align: center
}

#resultId
{
	text-align: center;
}
#correctCity
{
	text-align:center;

}
#scores
{
	text-align: center;
}

#name1
{
	text-align: center;
    margin-right: 372px;
}
#win1
{
	text-align: center;
    margin-right: 372px;
}
#loss1
{
	text-align: center;
    margin-right: 372px;
}

#name2
{
	text-align: center;
    margin-left: 372px;
    margin-top: -149px;
}
#win2
{
	text-align: center;
    margin-left: 372px;
}
#loss2
{
	text-align: center;
    margin-left: 372px;
}